<a href="https://colab.research.google.com/github/atinsinghal97/explore_fb_data/blob/main/data_preprocessing/getting_data_for_calendar_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing relevant libraries

In [ ]:
import os
import json
import time
import pandas as pd
from datetime import datetime
from operator import itemgetter

## Defining working directories

In [ ]:
base_dir = r'D:\Analytics\ETHI MENON LABS\facebook-sampledataset\facebook-sampledataset\likes_and_reactions/'

entries = os.listdir(r'D:\Analytics\ETHI MENON LABS\facebook-sampledataset\facebook-sampledataset\likes_and_reactions/')

## Function to convert data to readable time

In [ ]:
def calculate_time(row):
    return time.strftime("%Y-%m-%d ", time.gmtime(row['timestamp']))

## Loading the data into a dataframe, cleaning the data

In [ ]:
df3 = pd.DataFrame()

for f in entries:
    filename = r''+f+''
    q = os.path.join(base_dir, filename)
    f1 = open(q)
    data = json.load(f1)

    df1 = pd.DataFrame(data)
    df2 = df1[df1.columns[0]].apply(pd.Series)
    
    # adding readable time to new column
    df2['readable_time'] = df2.apply(calculate_time,axis = 1)   
    df3 = df3.append(df2['readable_time'])

## Transposing the obtained array to form a Series

In [ ]:
df3 = df3.T
df3.columns = range(df3.shape[1])

## Dropping missing values and sorting to get cleaner data

In [ ]:
df3 = df3[0].append(df3[1]).reset_index(drop = True).to_frame().dropna()
df3.sort_values(0, inplace = True) 
df3 = df2.readable_time.value_counts()

## Adding dates to a new column and re-indexing the dataframe

In [ ]:
df3 = df3.to_frame()
df3['date'] = df3.index

## Renaming some columns

In [ ]:
df3 = df3.rename(columns = {"readable_time":"count"})
columnsTitles = ['date', 'count']
df3 = df3.reindex(columns = columnsTitles)

## Reindexing the dataframe to increase accessibility

In [ ]:
df3.sort_values('date', inplace = True)
df3 = df3.reset_index(drop = True)
df3['date'] = df3['date'].str.strip()
df3['date'] = df3['date'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d').timestamp()) 
df3.to_json('foobar.json',orient = "records")